#set ( $sys = ${system} )
#set ( $dp = ${dynamicPath} )
#set ( $tpl = ${template} )
#set ( $package = ${sys.config.get("generator.package")} )
#set ( $className = ${dp.className} )
package ${package}.controller.api;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

public interface  ${className}ControllerApi {

}
